<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>quiz page 1</title>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Grandstander&family=Carme&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form id="quiz-form">
                <div class="form-field">
                    <label for="q1">5. How do you feel about working with a team?</label><br>
                    <input type="text" id="q1" required>
                </div>
                <div class="form-field">
                    <label for="q1">6. How do you feel about working with stakeholders?</label><br>
                    <input type="text" id="q1" required>
                </div>
                <div class="form-field">
                    <label for="q1">7. Would you rather build something entirely new or optimize an existing system?</label><br>
                    <input type="text" id="q1" required>
                </div>
                <div class="form-field">
                    <label for="q1">8. Do you enjoy designing visuals?</label><br>
                    <input type="text" id="q1" required>
                </div>
            </form>
            <br>
        </div>
        <div class = "footer">
            <button id="btn">Next</button>
        </div>
    </body>
</html>