<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>quiz page 1</title>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Grandstander&family=Carme&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form id="quiz-form">
                <div class="form-field">
                    <label for="q5">5. How do you feel about working with a team?</label><br>
                    <input type="text" name="q5" id="q5" required>
                </div>
                <div class="form-field">
                    <label for="q6">6. How do you feel about working with stakeholders?</label><br>
                    <input type="text" name="q6" id="q6" required>
                </div>
                <div class="form-field">
                    <label for="q7">7. Would you rather build something entirely new or optimize an existing system?</label><br>
                    <input type="text" name="q7" id="q7" required>
                </div>
                <div class="form-field">
                    <label for="q8">8. Do you enjoy designing visuals?</label><br>
                    <input type="text" name="q8" id="q8" required>
                </div>
            </form>
            <br>
        </div>
        <div class="footer">
            <a href="/quiz-page3">
                <button id="btn">Next</button>
            </a>
        </div>        
    </body>
</html>