<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>quiz page 1</title>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Grandstander&family=Carme&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form id="quiz-form">
                <div class="form-field">
                    <label for="q1">1. What excites you most about technology?</label><br>
                    <input type="text" id="q1" required>
                </div>
                <div class="form-field">
                    <label for="q1">2. Which technical skill do you feel most confident in?</label><br>
                    <input type="text" id="q1" required>
                </div>
                <div class="form-field">
                    <label for="q1">3. Which soft skill do you feel most confident in?</label><br>
                    <input type="text" id="q1" required>
                </div>
                <div class="form-field">
                    <label for="q1">4. What type of impact do you want to make in the tech industry?</label><br>
                    <input type="text" id="q1" required>
                </div>
            </form>
            <br>
        </div>
        <div class="footer">
            <a href="/quiz-page2">
                <button id="btn">Next</button>
            </a>
        </div>        
    </body>
</html>