<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Helper</title>
  <link href="https://fonts.googleapis.com/css2?family=Grandstander&family=Carme&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Resume Helper</h1>
  </header>
  
  <main>
    <section>
      <form action="http://127.0.0.1:5000/analyze_resume" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="textInput">Enter Job Description:</label>
          <input type="text" id="textInput" name="textInput" required>
        </div>
         
        <div class="form-group">
          <label for="fileInput" id="fileLabel">Upload Your Resume (PDF only):</label>
          <div id="drop-area" onclick="document.getElementById('fileInput').click();">
            <p>Click here to select a PDF</p>
          </div>
          <input type="file" id="fileInput" name="pdf_file" accept=".pdf" required hidden>
          <p id="file-name"></p>
        </div>
         
        <input type="submit" value="Submit">
      </form>
    </section>
  </main>
  
  <footer>
    <p>&copy; 2025 KoalifyMe. All rights reserved.</p>
  </footer>
</body>
</html>
