<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>quiz page 1</title>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Grandstander&family=Carme&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form id="quiz-form">
                <div class="form-field">
                    <label for="q9">9. In a team project, would you prefer to handle creative design or technical problem-solving?</label><br>
                    <input type="text" name="q9" id="q9" required>
                </div>
                <div class="form-field">
                    <label for="q10">10. Do you like figuring out how computers and the internet work together, and helping keep everything running smoothly?</label><br>
                    <input type="text" name="q10" id="q10" required>
                </div>
                <div class="form-field">
                    <label for="q11">11. Are you interested in ethical hacking?</label><br>
                    <input type="text" name="q11" id="q11" required>
                </div>
                <div class="form-field">
                    <label for="q12">12. How do you approach solving problems?</label><br>
                    <input type="text" name="q12" id="q12" required>
                </div>
            </form>
            <br>
        </div>
        <div class="footer">
            <a href="/results-game-dev">
                <button id="btn">Submit</button>
            </a>
        </div>   
    </body>
</html>