<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Grandstander&family=Carme&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="items">
            <div>
                <img src=".\assets\images\KoalifyMeLogo.png" width="35%">
            </div>
            <div style="align-items: center;">
                <form (ngSubmit)="onSubmit()">
                    <div class="login-container">
                        <div class="textfield">
                            <label for="username">Username</label>
                            <input type="text" id="username" [(ngModel)]="username" name="username" required>
                        </div>
                        <div class="textfield">
                            <label for="password">Password</label>
                            <input type="password" id="password" [(ngModel)]="password" name="password" required>
                        </div>
                        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                        
                        <button class="btn" type="submit">Sign Up</button>
                        <div class="return-home-link">
                            <a href="/home">Already a member? Return to login!</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
