<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>
    </head>
    <!-- <link rel="stylesheet" href="signup-page.component.css"> -->
    <body style="background-color: #C5D9E1;">
        <div>
            <img>
        </div>
        <div class="form-container">
            <form>
                <div  style="background-color: #5C829D;">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required />
                    <br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required />
                    <br>
                </div>
                <button type="sign-up">Sign Up</button>
            </form>
        </div>
    </body>
</html>